@use 'functions';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bgr: #222;
  --sba: #010101;
  --hea: #010101;
  --txt: #ff4500; 
  --acc: #22ec22;
  --sky: #87ceeb;
  --meb: #333;
  --lgg: #aaa;
  --mdg: #333;
  --dkg: #181818;
  --mtx: #ff4500;
  --bor: rgba(255, 255, 255, 0.15);
  --sbw: 250px;
  --hdh: 64px;
  --err: #c70c0c;
  --war: #ffd500;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bgr);
  color: var(--txt);
}

::selection {
  background-color: var(--sky); /* was acc */
  color: var(--txt);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  line-height: 1.4;
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: functions.toRem(36);
}

h2 {
  font-size: functions.toRem(32);
}

h3 {
  font-size: functions.toRem(28);
}

h4 {
  font-size: functions.toRem(24);
}

h5 {
  font-size: functions.toRem(20);
}

h6 {
  font-size: functions.toRem(16);
}

p {
  font-size: functions.toRem(16);
  line-height: 1.7;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: var(--sky);
}