@use 'functions';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  user-select: none;
}

:root {
  --bkgr: #111;
  --sbar: #010101;
  --head: #010101;
  --main: #ff4500;
  --ligh: #eee; 
  --acce: #22ec22;
  --skyb: #87ceeb;
  --menu: #333;
  --lggr: #aaa;
  --mdgr: #333;
  --dkgr: #181818;
  --mntx: #ff4500;
  --bord: rgba(255, 255, 255, 0.15);
  --sbwd: 250px;
  --hdhg: 64px;
  --erro: #c70c0c;
  --warn: #ffd500;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bkgr);
  color: var(--main);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  line-height: 1.4;
  margin-top: 0.5em;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: functions.toRem(36);
}

h2 {
  font-size: functions.toRem(32);
}

h3 {
  font-size: functions.toRem(28);
}

h4 {
  font-size: functions.toRem(24);
}

h5 {
  font-size: functions.toRem(20);
}

h6 {
  font-size: functions.toRem(16);
}

p {
  font-size: functions.toRem(16);
  font-weight: 200;
  line-height: 1.7;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: var(--ligh);
  cursor: pointer;
}

button, select {
  background-color: var(--main);
  padding: 5px 10px;
  font-weight: 200;
  color: var(--ligh);
  border-radius: 5px; 
}

select {
  appearance: none;
}

select option {
  background-color: var(--ligh);
  color: var(--main);
}

input {
  background: transparent;
  padding: 5px 10px;
  color: var(--ligh);
  font-weight: 200;
  border: 1px solid var(--main);
  border-radius: 5px;
}